<main class="main">
<app-header></app-header>
<app-notification *ngIf="!tasks?.length"></app-notification>
<app-add-task [taskExists]="tasks?.length" (responseReceived)="handleResponse($event)" [edit]="edittingMode" [taskToEdit]="taskToEdit" (editTask)="editTaskData($event)"></app-add-task>
<div class="current-tasks" *ngIf="tasks?.length">
    <div class="current">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.0498 19L11.0498 12L6.0498 5H8.4998L13.4998 12L8.4998 19H6.0498ZM11.9998 19L16.9998 12L11.9998 5H14.4498L19.4498 12L14.4498 19H11.9998Z" fill="#FFDF8C"/>
            </svg>

            <h2 class="status">მიმდინარე დავალებები</h2>
    </div>
    <h2 class="status">სტატუსი</h2>
</div>
<ng-container *ngFor="let task of tasks">
    <app-task *ngIf="task.status === 'მიმდინარე'" [name]="task.name" [status]="task.status" [id]="task.id" (taskDeleted)="deleteTask($event)" (taskEditted)="editTask($event)" ></app-task>
</ng-container>
<div class="finished-tasks" *ngIf="tasks?.length">

        <svg width="22" height="13" viewBox="0 0 22 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.6998 13L0.0498047 7.34998L1.4748 5.94998L5.7248 10.2L7.1248 11.6L5.6998 13ZM11.3498 13L5.6998 7.34998L7.0998 5.92498L11.3498 10.175L20.5498 0.974976L21.9498 2.39998L11.3498 13ZM11.3498 7.34998L9.9248 5.94998L14.8748 0.999976L16.2998 2.39998L11.3498 7.34998Z" fill="#8FF4DB"/>
            </svg>
            

            <h2 class="status">დასრულებული დავალებები</h2>

</div>
<ng-container *ngFor="let task of tasks">
    <app-task *ngIf="task.status === 'დასრულებული'" [name]="task.name" [status]="task.status" [id]="task.id" (taskDeleted)="deleteTask($event)" (taskEditted)="editTask($event)" ></app-task>
</ng-container>

</main>



