<div class="new-task" [ngClass]="{'with-tasks': taskExists}">
    <div class="add-task">
        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 16.975V13.975H9V11.975H12V8.975H14V11.975H17V13.975H14V16.975H12ZM0 14V12H7.075C7.025 12.35 7.00417 12.6833 7.0125 13C7.02083 13.3167 7.05 13.65 7.1 14H0ZM0 10V8H9.65C9.26667 8.26667 8.92083 8.56667 8.6125 8.9C8.30417 9.23333 8.03333 9.6 7.8 10H0ZM0 6V4H15V6H0ZM0 2V0H15V2H0Z" fill="#383E59"/>
            </svg>
<h2>ახალი დავალების დამატება</h2>            
    </div>
    <form action="">
        <div class="input-container">
            <label for="name">შეიყვანეთ დასახელება</label>
            <input type="text">
        </div>
        <app-custom-dropdown [options]="dropdownOptions" (optionSelected)="onOptionSelected($event)"></app-custom-dropdown>


        <button type="submit" class="button"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.91675 9.08329H0.416748V6.91663H6.91675V0.416626H9.08342V6.91663H15.5834V9.08329H9.08342V15.5833H6.91675V9.08329Z" fill="white"/>
            </svg> დამატება
            </button>
    </form>
</div>
